.form{
    display: flex;
    margin: 0.5rem;
    height: 3rem;

}
@media only screen and (max-width: 390px){
    .form{margin: 0}
}

.form input{
  
    border: 3px solid rgb(44, 131, 158);
    flex: 1;
    outline: none;
    margin-right: -1.8rem;
    padding-left: 20px;
    border-radius: 5px 0 0 5px;

}

.add{
    flex: 0 0 20%;
    background: linear-gradient(to right, rgb(44, 131, 158), rgb(104, 168, 187));
    border: none;
    border-radius: 0 5px 5px 0;
}